body {
    background-color: black;

}

.container {
    background-color: white;
}

.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px;
    width: 100%;
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
    height: 150px;
}
.header-text {
    font-family: 'Grand Hotel', cursive;
}